.title {
  text-align:center;
}

.form-row {
  width: 50%;
  justify-content: center;
  margin:auto;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;

}

.wrapper {
  text-align: center;
  margin-top: 40px;
}

.btn-whatever{
  background-color: #FF7001;
}
