

<div id="header">
  <a href="/connexion">Login</a>
</div>

<div id="container">
    <img src="../assets/MNS.png" alt="logo MNS">
    <h1>Metz Numeric School</h1>
</div>


<div id="form_connexion">
  <p>
    Bienvenue dans la Platform forme de gestion d'absences et des retard des Stagiaires MNS.
  </p>
  <form action="" method="post">
    <input type="text" placeholder="Saisissez votre identifiant">
    <input type="text" placeholder="Saisissez votre mot de passe">
    <button type="submit">Se connecter</button>
  </form>
</div>

